hell
hell/**
.vscode
.vscode/**
notes
notes/**
maze_file
windows/**
windows
*.zip
**.exe
bin
bin/**
buildMingw64
toolchains
build
include/SDL2
res/sounds/test
val_out.txt
linux
**.kra
**~
valout.txt
test
basket